<h1>All restaurants</h1>
<%= link_to "Create new Restaurant", new_restaurant_path %>
<% @restaurants.each do |restaurant| %>
  <h5><%= link_to restaurant.name, restaurant_path(restaurant) %> <%= 'â­' * restaurant.rating %></h5>
  <p><%= restaurant.address %></p>
<% end %>